{% extends "shop/base.html" %}

{% block content %}
    <a href="{% url 'product-create' %}">Create product</a>
    {% for product in object_list %}
        <div>
            <p>{{ product.name }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.amount }}</p>
            {% if product.image %}
                <img src="{{ product.image.url }}" width="200" height="100">
            {% else %}
                <p>No image</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}